
body{
    margin: 0;
    padding: 0;
    height: 150vh;
    background-color: #090b0d;
    color: #9fb3bf;
    font-family:'Source Sans Pro', sans-serif;
}
.nav_list{
    height: 50px;
    display: flex;
    justify-content: flex-end;
}
.main_list li{
    margin-top: -20px;
    display: inline-block;
    list-style: none;
    position: relative;
}
.main_list li a{
    display: block;
    text-decoration: none;
    padding: 15px;
    color: #9fb3bf;
}
.main_list li a:hover {
    color: #090b0d;
    background: #9fb3bf;
    transition: 0.5s ;
}
#portfolio_sublist ul {
    display: none;
    padding-left: 0px;
    width: 150px;
    margin-top: 13px;
    position: absolute;
    z-index: 10;
}
#portfolio_sublist:hover a .fas.fa-angle-up{
    transform: rotate(180deg);
    transition: 0.2s ;
}
#portfolio_sublist ul li {
    width: 100%;
    height: 50px;
    padding-bottom: 2px;
    border-bottom: 1px solid #425059;
}
#portfolio_sublist ul li a{
    color: #090b0d;
    background-color: #9fb3bf;
}
#portfolio_sublist ul li a:hover {
    color: #9fb3bf;
    background-color: #090b0d;
}
#portfolio_sublist:hover ul{
    display: block;
}
.article_container{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.image_container{
    padding: 50px;
}
.profile_image::before{
    content: "";
    min-height: 100%;
    border: 5px solid #425059;
    width: 100%;
    left: -30px;
    top: -30px;
    border-radius: 6px;
    z-index: -10;
    position: absolute;

}
.profile_image{
    border: 6px solid #9fb3bf;
    border-radius: 6px;
    width: auto;
    position: relative;
    min-height: 500px;
    background-position: center;
    background-image: url(https://images.unsplash.com/photo-1474479498523-ac9071c05f82?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=746&q=80);
}
.text_wrap{
    max-width: auto;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 20px;
    padding-bottom: 0px;
    height: 100vh;
}
.text_wrap>h1{
    font-size: 40px;
}
.first_letterstyle{
    font-size: 30px;
}
footer{
    text-align: center;
}